[test]
HeapTest.ConstructionDestruction                =  1
HeapTest.InitiallyEmpty                         =  1
HeapTest.EmptyTopException                      =  1
HeapTest.EmptyPopException                      =  1
HeapTest.SingleItemNonempty                     =  1
HeapTest.SingleItemPush                         =  1
HeapTest.SingleItemPushPop                      =  1
HeapTest.TwoElementPush_LowPriFirst             =  1
HeapTest.TwoElementPush_HighPriFirst            =  1
HeapTest.Duplicates                             =  1
HeapTest.NegativeElements                       =  1
HeapTest.ThreeElementPush_0_5_10                =  1
HeapTest.ThreeElementPush_0_10_5                =  1
HeapTest.ThreeElementPush_5_0_10                =  1
HeapTest.ThreeElementPush_5_10_0                =  1
HeapTest.ThreeElementPush_10_0_5                =  1
HeapTest.ThreeElementPush_10_5_0                =  1
HeapTest.GreaterComparator                      =  1
HeapTest.StringStorage                          =  1
HeapTest.FiveElementPush_TrinaryHeap            =  1
HeapTest.SixElementPush_QuaternaryHeap          =  1
HeapStress.50x50RandomElements_BinaryHeap       =  1
HeapStress.50x50RandomElements_QuaternaryHeap   =  1
HeapStress.50x50RandomElements_DodecenaryHeap   =  1
HeapStress.2x2000RandomElements_Binary          =  1

