[test]
Pivot.Empty					= 1
Pivot.Size1SmallEmpty		= 1
Pivot.Size1LargeEmpty		= 1
Pivot.Size2SmallLarge		= 1
Pivot.Size2LargeSmall		= 1
Pivot.Size3LargeSmallLarge	= 1
Pivot.Size3SmallLargeSmall	= 1
Pivot.Size3LargeLargeSmall	= 1
Pivot.Size6SmallThenLarge	= 1
Pivot.Size6LargeThenSmall	= 1
Pivot.Nominal				= 1
Pivot.SameValues			= 1
Pivot.NoCopySameNodeCheck	= 1
Filter.EmptyList            = 1
Filter.Size1_F              = 1
Filter.Size1_nF             = 1
Filter.Size2_F_nF           = 1
Filter.Size2_nF_F           = 1
Filter.Size3_nF_F_nF        = 1
Filter.Size3_F_nF_F         = 1
Filter.SameNodeCheck        = 1
Filter.MultipleCalls        = 1
Filter.CompareWithLlrec		= 1